.underline {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    margin-right: 80px;
    text-align: center;
  }

.logo {
  flex-grow: 1;
  width: 5rem;
  height: 5rem;
  margin-left: 20px;
  padding-top: 10px;
  background-color: white;
  padding-right: 1rem;
}

  nav li {
    display: inline;
    padding-right: 2rem;
    color: #0D59CA;
    font-family: "Trebuchet MS";
  }

  nav ul {
    background-color: white;
    display: flex;
    align-items: right;
    padding-top: 20px;
    padding-bottom: 15px;
    /*padding-right: 68vw;*/
    margin: auto;
  }
  
  nav li:last-child {
    padding-right: 0;
  }

  .liChange {
    padding-left: 30vw;
  }

  div {
    text-align: center;
    background: #3E81A2;
    margin-top: 1vw;
    padding-bottom: 7px;
  }

  div h1 {
    font-family: "Trebuchet MS";
    padding-top: 7px;
    color: white;
  }

  div hr{
    width: 600px;
    margin: auto;
  }

  p {
    color: white;
  }
