.underline {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }

.logo {
  flex-grow: 1;
  width: 5rem;
  height: 5rem;
  margin-left: none;
  padding: none;
  background-color: white;
  padding-right: 1rem;
}

  nav li {
    display: inline;
    padding-right: 2rem;
    color: white;
    font-family: "Trebuchet MS";
  }

  nav ul {
    background-color: black;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 65vw;
  }
  
  nav li:last-child {
    padding-right: 0;
  }